
.results-container{
    background-color: rgb(46, 46, 46);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.results-container div {
    background-color: rgb(166, 222, 255);
    width: 50%;
    height: 30%;
    border-radius: 0.5rem;
    text-align: center;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-container div h2 {
    border-bottom: 2px solid #fff;
    margin: 3rem 0 2rem 0;
    width: 100%; 
    text-align: center; 
}

.results-container div table{
    margin: 0.3rem;
    background-color: #fff;
    padding: 0.1rem;

}
.title{
    background-color: rgb(59, 122, 122);
    color: #fff;
}
.title th{
    padding: 0.3rem;
}
.content{
    background-color: rgb(193, 241, 255);
}
.erradas, .acertos{
    font-weight: bolder;
}
.erradas{
    color: red;
}
.acertos{
    color: green;
}

.backToHome{
    padding: 0.3rem;
    margin: 0.2rem;
    border: 1px solid black;
    background-color: #ffffffa8;
    cursor: pointer;
}


@media (max-width: 600px){
    .results-container div{
        width: 85%;
        height: 40%;
        
    }
}