.results-container{
    background-color: rgb(46, 46, 46);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.results-container div {
    background-color: rgb(166, 222, 255);
    width: 50%;
    height: 30%;
    border-radius: 0.5rem;
    text-align: center;    
}

.results-container div h2 {
    margin: 5rem 0 0.3rem 0;
}

.results-container div p {
    margin: 0.3rem;
}

@media (max-width: 400px){
    .results-container div{
        width: 60%;
        height: 40%;
    }
}